<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../assets/img/32px_neos.png" />
    <link rel="stylesheet" href="../assets/css/content.css">
    <script src="../assets/js/content.js"></script>
</head>
<body>
    <main class="wrapper">
        <div class="animation">
            <img src="" alt="">
        </div>
        <div class="fact">
            <h1>Hello world</h1>
        </div>
        <div class="solution">
            <p>Je suis un astuce</p>
        </div>
        <div class="call-to-action">
            <a href="" target="_blank">Neos</a>
        </div>
    </main>
</body>
</html>