<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../assets/img/32px_neos.png" />
    <link rel="stylesheet" href="../assets/scss/styles.css">
    <script src="../assets/js/content.js"></script>
</head>
<body>
    <nav>
        <a href="">
            <img src="./../assets/img/neos-logo.svg" alt="Logo Neos">
        </a>
    </nav>
    <main class="wrapper">
        <div class="animation">
            <img src="" alt="">
        </div>
        <div class="fact">
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, atque doloremque. Nostrum consequuntur necessitatibus error. </h1>
        </div>
        <div class="solution">
            <span class="label">Alors, que faire ?</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci eveniet sunt ipsum neque consectetur iste, architecto debitis assumenda eius harum, quae quo doloremque accusantium placeat blanditiis culpa, dicta dolor aut.</p>
        </div>
        <div class="call-to-action">
            <a href="" target="_blank">Découvrir d'autres tips</a>
        </div>
    </main>
</body>
</html>