// CARS ANIMATION START
body {
  width: 50%;
}

@keyframes car_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#car_1 {
  transform-origin: center;
  -webkit-animation: car_1 2s infinite; /* Safari 4+ */
  -moz-animation: car_1 2s infinite; /* Fx 5+ */
  -o-animation: car_1 2s infinite; /* Opera 12+ */
  animation: car_1 2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_1 {
  0% {
    transform: translate(60px, 0%);
  }
  100% {
    transform: translate(-400px, 0%);
  }
}

#car_2 {
  transform-origin: center;
  -webkit-animation: car_2 3s infinite; /* Safari 4+ */
  -moz-animation: car_2 3s infinite; /* Fx 5+ */
  -o-animation: car_2 3s infinite; /* Opera 12+ */
  animation: car_2 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_2 {
  0% {
    transform: translate(290px, 0%);
  }
  100% {
    transform: translate(-375px, 0%);
  }
}

#car_3 {
  transform-origin: center;
  -webkit-animation: car_3 4s infinite; /* Safari 4+ */
  -moz-animation: car_3 4s infinite; /* Fx 5+ */
  -o-animation: car_3 4s infinite; /* Opera 12+ */
  animation: car_3 4s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_3 {
  0% {
    transform: translate(500px, 0%);
  }
  100% {
    transform: translate(-200px, 0%);
  }
}

#car_4 {
  transform-origin: center;
  -webkit-animation: car_4 3s infinite; /* Safari 4+ */
  -moz-animation: car_4 3s infinite; /* Fx 5+ */
  -o-animation: car_4 3s infinite; /* Opera 12+ */
  animation: car_4 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_4 {
  0% {
    transform: translate(-375px, 0%);
  }
  100% {
    transform: translate(230px, 0%);
  }
}

#car_5 {
  transform-origin: center;
  -webkit-animation: car_5 4s infinite; /* Safari 4+ */
  -moz-animation: car_5 4s infinite; /* Fx 5+ */
  -o-animation: car_5 4s infinite; /* Opera 12+ */
  animation: car_5 4s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_5 {
  0% {
    transform: translate(-275px, 0%);
  }
  100% {
    transform: translate(370px, 0%);
  }
}

// CARS ANIMATION END


// ENERGY ANIMATION START
@keyframes eclair1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#eclair1 {
  transform-origin: center;
  -webkit-animation: eclair1 1s infinite; /* Safari 4+ */
  -moz-animation: eclair1 1s infinite; /* Fx 5+ */
  -o-animation: eclair1 1s infinite; /* Opera 12+ */
  animation: eclair1 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair1 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(10px, 0%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair2 {
  transform-origin: center;
  -webkit-animation: eclair2 0.9s infinite; /* Safari 4+ */
  -moz-animation: eclair2 0.9s infinite; /* Fx 5+ */
  -o-animation: eclair2 0.9s infinite; /* Opera 12+ */
  animation: eclair2 0.9s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair2 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair3 {
  transform-origin: center;
  -webkit-animation: eclair3 0.8s infinite; /* Safari 4+ */
  -moz-animation: eclair3 0.8s infinite; /* Fx 5+ */
  -o-animation: eclair3 0.8s infinite; /* Opera 12+ */
  animation: eclair3 0.8s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair3 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair4 {
  transform-origin: center;
  -webkit-animation: eclair4 1s infinite; /* Safari 4+ */
  -moz-animation: eclair4 1s infinite; /* Fx 5+ */
  -o-animation: eclair4 1s infinite; /* Opera 12+ */
  animation: eclair4 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair4 {
  0% {
    transform: translate(-25px, 2.5%);
  }
  50% {
    transform: translate(-20px, 2%);
  }
  100% {
    transform: translate(-25px, 2.5%);
  }
}

// ENERGY ANIMATION END


// FRIDGE ANIMATION START
@keyframes youtube {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#youtube {
  transform-origin: center;
  -webkit-animation: youtube 5s infinite; /* Safari 4+ */
  -moz-animation: youtube 5s infinite; /* Fx 5+ */
  -o-animation: youtube 5s infinite; /* Opera 12+ */
  animation: youtube 5s infinite; /* IE 10+, Fx 29+ */
}

@keyframes youtube {
  0% {
    transform: rotate(-0.02turn);
  }
  25% {
    transform: rotate(0.15turn);
  }
  45% {
    transform: rotate(-0.02turn);
  }
  100% {
    transform: rotate(-0.02turn);
  }
}

#netflix {
  transform-origin: center;
  -webkit-animation: netflix 4s infinite; /* Safari 4+ */
  -moz-animation: netflix 4s infinite; /* Fx 5+ */
  -o-animation: netflix 4s infinite; /* Opera 12+ */
  animation: netflix 4s infinite; /* IE 10+, Fx 29+ */
}

@keyframes netflix {
  0% {
    transform: translate(160px, 0%);
  }
  25% {
    transform: translate(0px, 0%);
  }
  45% {
    transform: translate(0px, 0%);
  }
  100% {
    transform: translate(160px, 0%);
  }
}

#twitch {
  transform-origin: center;
  -webkit-animation: twitch 3s infinite; /* Safari 4+ */
  -moz-animation: twitch 3s infinite; /* Fx 5+ */
  -o-animation: twitch 3s infinite; /* Opera 12+ */
  animation: twitch 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes twitch {
  0% {
    transform: translate(0px, 0%);
  }
  37% {
    transform: translate(0px, 0%);
  }
  54% {
    transform: translate(160px, 0%);
  }
  80% {
    transform: translate(0px, 0%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

// FRIDGE ANIMATION END

// COMPUTER ANIMATION START
@keyframes liens {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#poison {
  transform-origin: center;
  -webkit-animation: poison 3s infinite; /* Safari 4+ */
  -moz-animation: poison 3s infinite; /* Fx 5+ */
  -o-animation: poison 3s infinite; /* Opera 12+ */
  animation: poison 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes poison {
  0% {
    transform: rotate(-0.001turn);
  }
  27% {
    transform: rotate(-0.007turn);
  }
  46% {
    transform: rotate(-0.001turn);
  }
  77% {
    transform: rotate(-0.007turn);
  }
  100% {
    transform: rotate(-0.001turn);
  }
}

#bidon {
  transform-origin: center;
  -webkit-animation: bidon 3.5s infinite; /* Safari 4+ */
  -moz-animation: bidon 3.5s infinite; /* Fx 5+ */
  -o-animation: bidon 3.5s infinite; /* Opera 12+ */
  animation: bidon 3.5s infinite; /* IE 10+, Fx 29+ */
}

@keyframes bidon {
  0% {
    transform: rotate(0.00turn);
  }
  29% {
    transform: rotate(-0.007turn);
  }
  55% {
    transform: rotate(0.00turn);
  }
  72% {
    transform: rotate(-0.007turn);
  }
  100% {
    transform: rotate(0.00turn);
  }
}

#bouteille {
  transform-origin: center;
  -webkit-animation: bouteille 3s infinite; /* Safari 4+ */
  -moz-animation: bouteille 3s infinite; /* Fx 5+ */
  -o-animation: bouteille 3s infinite; /* Opera 12+ */
  animation: bouteille 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes bouteille {
  0% {
    transform: rotate(0.00turn);
  }
  46% {
    transform: rotate(0.006turn);
  }
  51% {
    transform: rotate(0.00turn);
  }
  80% {
    transform: rotate(0.006turn);
  }
  100% {
    transform: rotate(0.00turn);
  }
}

#charbon {
  transform-origin: center;
  -webkit-animation: charbon 3s infinite; /* Safari 4+ */
  -moz-animation: charbon 3s infinite; /* Fx 5+ */
  -o-animation: charbon 3s infinite; /* Opera 12+ */
  animation: charbon 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes charbon {
  0% {
    transform: rotate(0.00turn);
  }
  45% {
    transform: rotate(0.005turn);
  }
  60% {
    transform: rotate(0.00turn);
  }
  84% {
    transform: rotate(0.005turn);
  }
  100% {
    transform: rotate(0.00turn);
  }
}

#gaz {
  transform-origin: center;
  -webkit-animation: gaz 3s infinite; /* Safari 4+ */
  -moz-animation: gaz 3s infinite; /* Fx 5+ */
  -o-animation: gaz 3s infinite; /* Opera 12+ */
  animation: gaz 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes gaz {
  0% {
    transform: rotate(0.00turn);
  }
  34% {
    transform: rotate(0.007turn);
  }
  48% {
    transform: rotate(0.00turn);
  }
  73% {
    transform: rotate(0.007turn);
  }
  100% {
    transform: rotate(0.00turn);
  }
}

// COMPUTER ANIMATION END

// KM ANIMATION START
@keyframes lettre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#lettre {
  transform-origin: center;
  -webkit-animation: lettre 2s infinite; /* Safari 4+ */
  -moz-animation: lettre 2s infinite; /* Fx 5+ */
  -o-animation: lettre 2s infinite; /* Opera 12+ */
  animation: lettre 2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes lettre {
  0% {
    transform: translate(-80px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate(0px, 0%);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(180px, -30px);
    opacity: 0;
  }
}

// KM ANIMATION END