// CARS ANIMATION START
@keyframes car_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#car_1 {
  transform-origin: center;
  -webkit-animation: car_1 1s infinite; /* Safari 4+ */
  -moz-animation: car_1 1s infinite; /* Fx 5+ */
  -o-animation: car_1 1s infinite; /* Opera 12+ */
  animation: car_1 2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_1 {
  0% {
    transform: translate(60px, 0%);
  }
  100% {
    transform: translate(-400px, 0%);
  }
}

#car_2 {
  transform-origin: center;
  -webkit-animation: car_2 1s infinite; /* Safari 4+ */
  -moz-animation: car_2 1s infinite; /* Fx 5+ */
  -o-animation: car_2 1s infinite; /* Opera 12+ */
  animation: car_2 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_2 {
  0% {
    transform: translate(290px, 0%);
  }
  100% {
    transform: translate(-500px, 0%);
  }
}

#car_3 {
  transform-origin: center;
  -webkit-animation: car_3 1s infinite; /* Safari 4+ */
  -moz-animation: car_3 1s infinite; /* Fx 5+ */
  -o-animation: car_3 1s infinite; /* Opera 12+ */
  animation: car_3 4s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_3 {
  0% {
    transform: translate(500px, 0%);
  }
  100% {
    transform: translate(-230px, 0%);
  }
}

#car_4 {
  transform-origin: center;
  -webkit-animation: car_4 1s infinite; /* Safari 4+ */
  -moz-animation: car_4 1s infinite; /* Fx 5+ */
  -o-animation: car_4 1s infinite; /* Opera 12+ */
  animation: car_4 3s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_4 {
  0% {
    transform: translate(-490px, 0%);
  }
  100% {
    transform: translate(230px, 0%);
  }
}

#car_5 {
  transform-origin: center;
  -webkit-animation: car_5 1s infinite; /* Safari 4+ */
  -moz-animation: car_5 1s infinite; /* Fx 5+ */
  -o-animation: car_5 1s infinite; /* Opera 12+ */
  animation: car_5 4s infinite; /* IE 10+, Fx 29+ */
}

@keyframes car_5 {
  0% {
    transform: translate(-300px, 0%);
  }
  100% {
    transform: translate(370px, 0%);
  }
}

// CARS ANIMATION END


// ENERGY ANIMATION START
@keyframes eclair1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#eclair1 {
  transform-origin: center;
  -webkit-animation: eclair1 1s infinite; /* Safari 4+ */
  -moz-animation: eclair1 1s infinite; /* Fx 5+ */
  -o-animation: eclair1 1s infinite; /* Opera 12+ */
  animation: eclair1 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair1 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(10px, 0%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair2 {
  transform-origin: center;
  -webkit-animation: eclair2 0.9s infinite; /* Safari 4+ */
  -moz-animation: eclair2 0.9s infinite; /* Fx 5+ */
  -o-animation: eclair2 0.9s infinite; /* Opera 12+ */
  animation: eclair2 0.9s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair2 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair3 {
  transform-origin: center;
  -webkit-animation: eclair3 0.8s infinite; /* Safari 4+ */
  -moz-animation: eclair3 0.8s infinite; /* Fx 5+ */
  -o-animation: eclair3 0.8s infinite; /* Opera 12+ */
  animation: eclair3 0.8s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair3 {
  0% {
    transform: translate(0px, 0%);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

#eclair4 {
  transform-origin: center;
  -webkit-animation: eclair4 1s infinite; /* Safari 4+ */
  -moz-animation: eclair4 1s infinite; /* Fx 5+ */
  -o-animation: eclair4 1s infinite; /* Opera 12+ */
  animation: eclair4 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes eclair4 {
  0% {
    transform: translate(-25px, 2.5%);
  }
  50% {
    transform: translate(-20px, 2%);
  }
  100% {
    transform: translate(-25px, 2.5%);
  }
}

// ENERGY ANIMATION END