html.popup{
    font-size: 8px;

    body {
        width: 480px;
        min-height: 240px;
        padding: 4rem;

        .wrapper{
            height: auto;
            width: 100%;
            padding: 0;
        }
    }
}

body {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 2rem;
    background-color: $noir;
    color: $blanc;

    nav {
        position: absolute;
        top: 2rem;
        left: 2rem;

        a{
            display: inline-block;
        }

        img {
            max-width: 60px;
        }
    }

    .wrapper {
        font-family: $OpenSans;
        width: 75%;
        min-width: 320px;
        max-width: 768px;
        height: 100%;
        margin: 0 auto;
        
        @media (max-width: 520px) {
            padding-top: 90px;
        }

        .animation {
            width: 100%;
            height: auto;
            margin-bottom: 3rem;
        }

        .fact {
            margin-bottom: 1.5rem;

            h1 {
                font-weight: bold;
                font-size: 1.65rem;
                line-height: 1.3;
            }
        }

        .tip {
            margin-bottom: 1.5rem;

            .label {
                display: block;
                font-family: $Bree;
                color: $gris;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.65rem;
                line-height: 1.2;
            }
        }

        .call-to-action {
            text-align: center;

            a {
                display: inline-block;
                font-size: 1.5rem;
                font-family: $Bree;
                background-color: $vert;
                color: $blanc;
                text-decoration: none;
                padding: .5rem 1.5rem;
                border-top-right-radius: 100px;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 100px;
                transition: all .4s ease-in-out;

                &:hover{
                    border-top-left-radius: 100px;
                    background-color: $blanc;
                    color: $vert;
                }
            }
        }
    }
}